.category-main{
    display: block;
    margin-top: 30px;
}
.category-title{
    font-size: 32px;
    display: block;
}
.category-description-text{
    font-size: 15px;
}
.product-container{
    margin-bottom: 30px;
}

.product-image-wrapper{
    display: block;
    border: 1px solid #e5ebee;
    position: relative;
    text-align: center;
}
.product-image-wrapper > img{
    width: 215px;
    height: 215px;
    display: inline-block;
}
.product-name > a{
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #13293d;
    letter-spacing: .5px;
    font-weight: 600;
}
.product-price{
    margin-bottom: 10px;
}
.product-action > form > button{
    outline-style: none;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    border-width: 1px;
    border-color: #5f707a;
    border-style: solid;
    background-color: #fff;
    width: 100%;
    height: 33px;
    transition: 0.3s;
}

.product-action > button:hover{
    color: #fff;
    background-color: #1b98e0;
    border-color: #1b98e0;
}