/*CATEGORY PAGE*/

.category-main{
  min-height: 75vh;
  display: block;
  padding: 0 35px;
}
.breadcrumb{
  font-weight: 600;
  color: #cacaca;
  margin: 25px 50px;
    background-color: unset;
}
.category-title{
    font-size: 32pt;
  margin-bottom: 30px;
  margin-left: 40px;
}
.products-block{
  padding-top: 20px;
  overflow: auto;
  white-space: nowrap;
}
.products-table > thead{
  border-bottom: 2px solid grey;
}
.product-column-name{
  font-size: 16pt;
  text-align: center;
}
.product-table-row{
  background-color: #f8f8f8;
  margin: 5px;
  border-bottom: 15px solid white;
}

.product-table-value{
    vertical-align: middle;
  padding: 25px !important;
  font-size: 16pt;
  text-align: center;
}
.filters-block{
  padding: 55px 100px;
}
.filter-field{
  width: 100%;
  padding: 10px;
  color: white;
}
.btn-filter{
  margin-top: 20px;
  width: 100%;
}

.category-description-text{
    font-size: 25pt;
    margin: 20px 30px;
}

@media screen and (max-width:  1620px){
  th, td{
    font-size: 14pt;
  }
  tbody > tr > td{
    padding: 35px !important;
  }
  .products-count{
    font-size: 12pt;
  }
}

@media screen and (max-width:  1450px){}

@media screen and (max-width:  1300px){
    h4{
        font-size: 15pt;
    }
    .category-title{
        font-size: 25pt;
    }
    .product-column-name{
        font-size: 12pt;
    }
    .product-table-value{
        padding: 5px !important;
        font-size: 10pt;
    }
    .filters-block{
        padding: 20px 50px;
    }
    .btn{
        font-size: 12pt;
    }

    .category-description-text{
        font-size: 20pt;}
}

@media screen and (max-width: 991px) and (min-width: 767px){}

@media screen and (max-width: 767px){
    .breadcrumb{
        margin: 25px 0;
    }
    .category-title{
        margin: 0;
    }

    .category-description-text{
        font-size: 15pt;

    }
}
