@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("fonts/Gilroy/stylesheet.css");

html,
body {
    font-family: "Gilroy";
}
:root {
    --animate-duration: 1000ms;
}

ol,
ul {
    padding-left: 0;
}

h2 {
    color: #13293d;
    letter-spacing: .025em;
    font-size: 30px;
    line-height: 18px;
    margin-bottom: 30px;
    font-weight: 300;
}


a, a:hover {
    text-decoration: none;
}

section {
    display: flex;
}

strong {
    font-weight: 700;
}

.alert{
    position: absolute;
    right: 5%;
    padding: 20px;
    border: 0;
    border-radius: 15px;
    background-color: #6CC41F;
    color: #fff;
}

.top-bar{
    width: 100%;
}

.lang-img{
    width: 30px;
}

.lang-switcher-img{
    width: 20px;
}

.header-cart-count{
    background-color: #0D8CAD;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.banner-img {
    max-width: 100%;
    width: 100%;
}

.btn-info {
    background-color: #fff;
    color:#383e70;
}

.btn > i {
    color: #fff;
}

#logo-img {
    width: 200px;
    margin-left: 15px;
}

.navbar-brand{
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
    max-width: 1170px;
}

.container > .text-center {
    color: #fff;
}

.navbar-nav > .nav-item > .nav-link {
    font-size: 15px;
    font-weight: 300;
    color: #fff!important;
    letter-spacing: .03em;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    line-height: 50px;
}

.nav-item > .nav-link{
    padding: 0 22px !important;
}

.nav-item > .nav-link::after{
    line-height: 50px;
}
.dropdown-menu{
    float: left;
    padding: 5px;
    text-align: center;
}
.dropdown-menu > a{
    padding: 10px 20px;
    white-space: normal !important;
}
.dropdown-menu > a > img{
    max-width: 75%;
    height: auto;
}

.navbar {
    height: 52px;
    background-color: #0D8CAD;
    padding: 0;
}

.navbar-collapse {
    align-items: center;
    width: 100%;
}

.social-links > a,
i {
    color: #fff;
    text-decoration: none;
    margin: 4px;
}

.social-list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}

.contact-info {
    align-items: center;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none !important;
    font-size: 16pt;
    font-weight: 600;
}

.contact-info > .contact-link{
    width: 350px;
}

.contact-link > a {
    font-weight: 800;
    font-size: 24px;
    color: #2B2A29;
    line-height: 22px;
    margin-bottom: 0;
    letter-spacing: 0.025em;
}
.contact-header-span{
    font-size: 12px;
    display: block;
    line-height: normal;
    font-weight: normal;
    color: #2B2A29;
}

.top-bar {
    display: flex;
}

.top-bar-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.top-bar-info > .burger-menu{
    display: none;
}
.top-bar-info > #cart-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#cart-container > a{
    padding-left: 0;
}

/*popular product*/
.popular-products{
    padding: 70px 0;
}
.popular-product-container{
    transition: all 0.4s;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 15px;
}
.popular-product-image{
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #e5ebee;
    background-color: #fff;
    height: 300px;
    background-size: 80%;
}
.popular-product-name{
    margin-top: 10px;
    letter-spacing: .025em;
    height: 20px;
    font-size: 15px;
    color: #13293d;
    display: block;
    line-height: 24px;
}
.popular-product-category{
    font-size: 13px;
    text-decoration: underline;
    color: #707070!important;
    display: block;
    line-height: 24px;
}

/*popular category*/
.popular-categories{
    padding: 50px 0;
}
.popular-category-container{
    height: 420px;
    background-color: #fff;
    border: 1px solid #e5ebee;
    padding: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}
.popular-category-container:hover{
    background-color: #0D8CAD;
    border-color: #0D8CAD;
}
.popular-category-container:hover p{
    color: #fff;
}
.popular-category-container:hover .popular-category-button{
    background: transparent;
    color: #fff;
    border-color: #fff;
    transition: 0.3s;
}
.popular-category-container:hover .popular-category-button:hover{
    background: #fff;
    color: #13293d;
    border-color: #fff;
}
.popular-category-container > img{
    width: 250px;
}
.popular-category-name{
    margin-bottom: 25px;
    font-size: 24px;
    color: #13293d;
    letter-spacing: .025em;
}
.popular-category-button{
    outline-style: none;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    border-width: 1px;
    border-color: #5f707a;
    border-style: solid;
    background-color: #fff;
    width: 118px;
    height: 33px;
}

.popular-categories {
    color: white;
    width: 100%;
    background-color: #eff4f7;
}

#msg {
    padding: 20px 100px 70px 15px;
    color: #fff;
}

footer {
    background-color: #2B2A29;
    padding: 30px 40px;
}

.footer-copyrights > span{
    color: #fff;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .container {
        max-width: 950px;
    }

    .top-bar {
        padding: 5px 0;
    }

    .contact-link > a {
        font-size: 20px;
    }

    #logo-img {
        width: 180px;
    }

    .navbar {
        height: 45px;
    }

    .navbar-nav > .nav-item > .nav-link {
        font-size: 13px;
    }

    .popular-product-name {
        height: unset;
    }

    .popular-category-container {
        height: 350px;
    }

    .popular-category-container > img {
        width: 200px;
    }

    .popular-category-name {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .popular-category-button {
        font-size: 12px;
        width: 100px;
        height: 28px;
    }

    .footer-copyrights > span {
        font-size: 14px;
    }
}
    @media (max-width: 991px) {
        .top-bar-info{
            justify-content: space-between;
        }
        .top-bar-info > .burger-menu{
            display: block;
        }
        .top-bar-info > .col-md-7{
            display: none;
        }
        .navbar{
            height: 0;
        }
        button.navbar-toggler{
            margin-top: -50px;
        }
        .navbar-collapse{
            background-color: #13293d;
            z-index: 1;
        }
        .popular-products{
            padding: 30px 0;
        }
        .container{
            padding: 0 20px;
        }

    }
    @media (max-width: 767px) {
        h2{
            font-size: 20px;
        }
        .top-bar-info{
            justify-content: space-between;
        }
        .top-bar > .container .row>*{
            width: unset;
        }
        .top-bar-info > .col-sm-6{
            text-align: center;
        }
        .navbar-toggler{
            padding: 2px 7px;
        }
        #logo-img{
            width: 150px;
        }
        #cart-container > a{
            padding: 0;
        }
        #cart-container {
            padding: 0;
        }
        .top-bar > .container .row{
            margin-right: 0;
        }
        .top-bar-info > .burger-menu{
            width: 50px !important;
        }
        .dropdown-menu > a{
            display: flex;
        }
        .dropdown-menu > a > img{
            width: 35%;
        }
        .dropdown-item{
            width: 50%;
        }
        .popular-products{
            padding: 15px 0;
        }
        .popular-products > .container > .row>*{
            width: 50%;
        }
        .popular-product-image{
            height: 150px;
        }
    }