@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("fonts/Greenwich/stylesheet.css");

html,
body {
    font-family: "Greenwich";
}
:root {
    --animate-duration: 1000ms;
}

ol,
ul {
    padding-left: 0;
}

h2 {
    color: #13293d;
    letter-spacing: .025em;
    font-size: 30px;
    line-height: 18px;
    margin-bottom: 30px;
    font-weight: 300;
}


a, a:hover {
    text-decoration: none;
}

section {
    display: flex;
}

strong {
    font-weight: 700;
}

.alert{
    position: absolute;
    right: 5%;
    padding: 20px;
    border: 0;
    border-radius: 15px;
}

.top-bar{
    width: 100%;
}

.lang-img{
    width: 30px;
}

.lang-switcher-img{
    width: 20px;
}

.header-cart-count{
    background-color: #2c96c1;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.banner-img {
    max-width: 100%;
    width: 100%;
}

.btn-info {
    background-color: #fff;
    color:#383e70;
}

.btn > i {
    color: #fff;
}

#logo-img {
    width: 480px;
    margin-left: 15px;
}

.navbar-brand{
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
    max-width: 1170px;
}

.container > .text-center {
    color: #fff;
}

.navbar-nav > .nav-item > .nav-link {
    font-size: 15px;
    font-weight: 300;
    color: #fff!important;
    letter-spacing: .03em;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    line-height: 50px;
}

.nav-item > .nav-link{
    padding: 0 22px !important;
}

.nav-item > .nav-link::after{
    line-height: 50px;
}
.dropdown-menu{
    float: left;
    padding: 5px;
    text-align: center;
}
.dropdown-menu > a{
    padding: 10px 20px;
    white-space: normal !important;
}
.dropdown-menu > a > img{
    max-width: 75%;
    height: auto;
}

.navbar {
    height: 52px;
    background-color: #2c96c1;
    padding: 0;
}

.navbar-collapse {
    align-items: center;
    width: 100%;
}

.social-links > a,
i {
    color: #fff;
    text-decoration: none;
    margin: 4px;
}

.social-list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}

.contact-info {
    align-items: center;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none !important;
    font-size: 16pt;
    font-weight: 600;
}

.contact-info > .contact-link{
    width: 350px;
}

.contact-link > a {
    font-weight: 800;
    font-size: 24px;
    color: #5f707a;
    line-height: 22px;
    margin-bottom: 0;
    letter-spacing: 0.025em;
}
.contact-header-span{
    font-size: 12px;
    display: block;
    line-height: normal;
    font-weight: normal;
    color: #5f707a;
}

.top-bar {
    display: flex;
    padding: 10px 0;
}

.top-bar-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.top-bar-info > #cart-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#cart-container > a{
    padding-left: 0;
}

.top-bar-info > .dropdown{
    text-decoration: none;
    padding: 18px;
    list-style: none;
}


.top-bar-info > .dropdown > a{
    color: #000;
    padding: 0.5rem 0;
    height: 100%;
}

.top-bar-info > .dropdown > a:after {
    content: "";
    display:inline-block;
    border: 7px solid transparent;
    border-top:8px solid gray;
    border-bottom:0 none;
}

.top-bar > .container{
    display: flex;
    justify-content: space-between;
}

.lme-rate{
    display: flex;
    align-items: center;
    font-size: 13pt;
    font-weight: 500;
    color: #383e70;
}

.lme-rate > i{
    margin: 0 10px;
}

.lme-rate > a > .fa-brands{
    color: #383e70;
    font-size: 25pt;
    margin-right: 20px;
}

/*popular product*/
.popular-products{
    padding: 70px 0;
}
.popular-product-container{
    transition: all 0.4s;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 15px;
}
.popular-product-image{
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #e5ebee;
    background-color: #fff;
    height: 220px;
    background-size: 100%;
}
.popular-product-name{
    margin-top: 10px;
    letter-spacing: .025em;
    height: 20px;
    font-size: 15px;
    color: #13293d;
    display: block;
    line-height: 24px;
}
.popular-product-category{
    font-size: 13px;
    text-decoration: underline;
    color: #707070!important;
    display: block;
    line-height: 24px;
}

/*popular category*/
.popular-categories{
    padding: 50px 0;
}
.popular-category-container{
    height: 420px;
    background-color: #fff;
    border: 1px solid #e5ebee;
    padding: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}
.popular-category-container:hover{
    background-color: #1b98e0;
    border-color: #1b98e0;
}
.popular-category-container:hover p{
    color: #fff;
}
.popular-category-container:hover .popular-category-button{
    background: transparent;
    color: #fff;
    border-color: #fff;
    transition: 0.3s;
}
.popular-category-container:hover .popular-category-button:hover{
    background: #fff;
    color: #13293d;
    border-color: #fff;
}
.popular-category-name{
    margin-bottom: 25px;
    font-size: 24px;
    color: #13293d;
    letter-spacing: .025em;
}
.popular-category-button{
    outline-style: none;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    border-width: 1px;
    border-color: #5f707a;
    border-style: solid;
    background-color: #fff;
    width: 118px;
    height: 33px;
}

.input-group{
    margin-bottom: 10px;
}

.input-group > label{
    width: 100%;
}
.input-group > .form-control{
    padding: 10px;
    font-size: 11pt;
}

.popular-categories {
    color: white;
    width: 100%;
    background-color: #eff4f7;
}

.right-block-text {
    padding: 50px;
    font-size: 50pt;
    text-align: center;
}

.facts-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.fact-box {
    margin: 15px;
    padding: 20px;
    width: 215px;
    border: 2px solid #a4c887;
    border-radius: 10px;
}

.fact-number {
    font-size: 40pt;
    line-height: 50pt;
    font-weight: 700;
    text-align: center;
}

.fact-number-value {
    display: block;
    font-weight: 600;
    font-size: 25pt;
    text-align: center;
    line-height: 15pt;
    margin-bottom: 15px;
}

.fact-info {
    display: block;
    line-height: 15pt;
    font-size: 12pt;
    font-weight: 500;
    text-align: center;
}

.services {
    padding: 50px 100px;
    background-color:#383e70;
}

.services > .container{
    margin: 0 20px;
}

.services > .container > .title{
    font-size: 50pt;
    margin-top: 10px;
}

.services > .container > .row{
    margin-top: 20px;
    justify-content: center;
}

.service-img {
    width: auto;
    height: 110px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.service:nth-child(3) > .service-img{
    height: 90px;
}

.service:last-child > .service-img{
    height: 90px;
}

.service h6 {
    padding: 5px;
    font-size: 19pt;
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
}

.forms {
    background-color: #fff;
    padding: 100px 0 30px;
}

.forms > .row{
    width: 100%;
}

.form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.form-calc {
    font-size: 12pt;
    width: 100%;
    margin: 10px 0;
}

.form-calc > input{
    width: 100%;
    padding: 20px 15px;
    color: #fff;
}

.download {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.download + label{
    text-align: center;
    width: 100%;
    padding: 12px;
    font-size: 12pt;
    border: 0;
    background-color:#e1e1e1;
    color:#858584;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
}

.download:focus + label,
.download + label:hover {
    background-color: #e1e1e1;
}

#msg {
    padding: 20px 100px 70px 15px;
    color: #fff;
}

#fname::placeholder, #msg::placeholder {
    color: #9598b3;
    opacity: 1;
}

.forms-container {
    padding: 10px 0px;
}

.forms-container > h2 {
    line-height: 35pt;
}

.forms-text{
    font-size: 18pt;
    color: #3b3b39;
    font-weight: 500;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-container {
    display: flex;
    width: 100%;
}


.form-calc > button {
    width: 100%;
    padding: 12px;
    font-size: 12pt;
    border: 0;
    background-color:#e1e1e1;
    color:#858584;
    font-weight: 550;
    border-radius: 10px;
}


/*.download {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    background-color:#c2c2c2;*/
/*    color:#343432;*/
/*}*/

.button-container {
    display: inline-block;
    background-color: white;
}

.button-container:hover {
    background-color: #d8c2b3;
}

.button-container input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 0;
    opacity: 0;
}

.partners{
    margin: 30px 40px 40px;
    flex-direction: column;
}

.partners > h2{
    margin-bottom: 20px;
}

.partner{
    padding: 20px;
}

.partner > img{
    width: 200px;
    border: 1px solid;
    margin: 0 20px
}

.partner > label{
    width: 100%;
    text-align: center;
}

.footer-contain {
    /*max-width: 100%;*/
}

footer {
    background-color: #13293d;
    padding: 30px 40px;
}

.footer-logo > img{
    width: 480px;
    margin-bottom: 30px;
}

.footer-copyrights{
    display: flex;
}

.unioncast{
    margin-right: 40px;
    margin-bottom: 0;
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyrights > span{
    color: #fff;
}

.footer-watermark{
    color: white;
    display: flex;
    height: auto;
}

.footer-watermark > img{
    width: 75px;
    height: auto;
    margin-right: 10px;
}

.watermark-text > p{
    margin-bottom: 0;
}

.footer-contacts{
    margin: 20px 0;
}

.footer-contacts > a{
    text-decoration: none;
    font-size: 20pt;
    font-weight: 600;
    margin: 25px;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 32pt;
}

.footer-social > a{
    margin: 20px;
}

@media screen and (max-width:  1810px){
    #logo-img{
        width: 200px;
    }
    .navbar-collapse{
        align-items: center;
    }
    .contact-info{
        margin-left: 5px;
    }
    .contact-info > .contact-link{
        font-size: 24px;
        line-height: 18px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        white-space: nowrap;
        font-weight: 800;
        color: #5f707a;
    }
    .service h6{
        font-size: 16pt;
    }
}


@media screen and (max-width:  1620px){
    .contact-info{
        font-size: 14pt;
    }
    .lme-rate{
        font-size: 14pt;
    }
    .nav-item{
        padding:0 20px;
    }
    .navbar-nav > .nav-item > .nav-link{
        font-size: 16pt;
    }
    #logo-img{
        width: 420px;
    }
    h2{
        font-size: 35pt;
    }
    .facts-container{
        flex-wrap: wrap;
    }
    .right-block-text{
        font-size: 35pt;
    }
    .forms-container > h2{
        line-height: 35pt;
    }
    .forms-text{
        font-size: 15pt;
    }
    .footer-logo > img{
        width: 420px;
    }
}


@media screen and (max-width:  1450px){
    .lme-rate{
        display: none;
    }
}

@media screen and (max-width:  1300px){
    .navbar{
        height: 60px;
    }
    #logo-img{
        width: 300px;
        margin-left: 10px;
    }
    .nav-item{
        padding: 0 12px;
    }
    .navbar-nav > .nav-item > .nav-link{
        font-size: 14pt;
    }
    .category-row{
        max-width: 800px;
        margin: 0 auto;
    }
    .category-bottom{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .services{
        padding: 50px 35px;
    }
    .service-img{
        height: 75px;
    }
    .service:nth-child(3) > .service-img, .service:last-child > .service-img{
        height: 70px;
    }
    .service h6{
        font-size: 14pt;
    }
    .form-container{
        width: 45%;
        margin-right: 0;
    }
    .form-container:first-child{
        margin-right: 25px;
    }
    .form > .div-container{
        justify-content: center;
    }
    .footer-logo > img{
        width: 320px;
    }
    .footer-contacts{
        margin: 10px 0;
    }
    .footer-contacts > a{
        font-size: 14pt;
        margin: 10px;
    }
    .footer-social{
        font-size: 20pt;
    }
    .footer-social > a{
        margin: 10px;
    }
    .footer-copyrights{
        font-size: 9pt;
    }
    .footer-watermark > img{
        width: 50px;
    }
    .unioncast{
        margin-bottom: 0;
    }
    .watermark-text > p{
        margin-bottom: 0;
    }
}


@media screen and (max-width: 767px)
{
    h2{
        font-size: 20pt;
    }
    div.top-bar {
        height: 50px;
    }
    .top-bar-info > .dropdown{
        padding: 5px 0px;
    }

    div.container {
        margin: 0 26px;
    }

    .navbar > .container{
        margin: 0 5px;
    }

    div.navbar {
        width: 100%;
        height: auto;
    }

    body {
        padding: 0;
    }

    div.top-bar-info {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .top-bar > .container{
        margin: 0;
        padding: 0 25px;
    }
    .header-cart-count{
        padding: 0 10px;
        margin-left: 30px;
    }
    .nav-item{
        padding: 10px 30px;
    }
    .navbar-nav{
        border: 1px solid lightgray;
    }
    .menu-items{
        margin-top: 0;
    }
    .top-bar-info > .dropdown > a:after{
        visibility: hidden;
    }
    .contact-info{
        justify-content: space-between;
        margin-left: 0;
        font-size: 11pt;
    }
    .contact-info > .contact-link{
        width: 130px;
    }
    .contact-link > a{
        font-size: 10pt;
    }
    .contact-link:last-child{
        text-align: right;
    }
    #logo-img{
        width: 200px;
    }

    .container > .navbar-toggler {
        width: 50px;
        padding: 5px;
        float: right;
        display: inherit !important;
        justify-content: center;
    }

    .navbar-nav {
        float: right;
        background-color: #fff;
    }

    .banner {
        padding: 20px;
    }
    .banner-img{
        border-radius: 10px;
    }
    .categories{
        margin-top: 0;
    }

    .col-5 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .col-7 {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 650px;
    }

    .right-block-text{
        font-size: 25pt;
        padding: 0px;
        padding-top: 25px;
        text-align: center;
    }

    .fact-box {
        margin-top: 30px;
        padding: 10px;
    }

    .facts-container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .services > .container > .title{
        font-size: 25pt;
        line-height: 35pt;
    }

    .forms {
        padding-top: 10px;
    }
    .forms-container{
        padding: 30px 0 0;
    }
    .forms-container > h2{
        width: 100%;
        text-align: center;
        font-size: 25pt;
    }
    .forms-text{
        margin-top: 0;
        text-align: center;
        font-size: 12pt;
    }
    .form{
        padding: 0;
    }
    .form > .div-container{
        flex-direction: column;
    }
    .form-container{
        width: 100%;
        margin-right: 0;
    }
    .form-container:first-child{
        margin-right: 0;
    }

    .calculation-form{
        flex-direction: column !important;
    }

    .div-container {
        display: flex;
        flex-direction: row;
        float: center;
        width: 100%;
        margin: 0px;
        align-items: center;
    }

    .form-calc {
        width: 100%;
        margin: 10px 0;
    }

    .form-calc > input{
        display: block;
        margin: 0 auto;
        font-size: 12pt;
    }

    .form-calc > button{
        display: block;
        margin: 0 auto;
        font-size: 14px;
    }

    button {
        width: 222px;
        border: 0;
        background-color: white;
        color:#383e70;
        padding: 10px;
        font-size: 14px;
    }

    .button-container {
        float: center;
    }

    img {
        width: 100%;
    }

    .column-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        justify-content: flex-start;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col > h6 {
        justify-content: center;
    }
    .footer-logo > img{
        width: 100%;
    }
    .footer-copyrights{
        flex-direction: column;
    }
    .unioncast{
        margin: 0 0 20px;
    }
    .footer-watermark{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .footer-watermark > img{
        display: none;
    }
    .footer-social{
        justify-content: center;
        font-size: 18pt;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px){
    .container {
        margin: 0 26px;
    }
    .top-bar-info {
        width: 100%;
        justify-content: space-between;
    }
    .top-bar-info > .dropdown > a:after{
    }
    .contact-info{
        justify-content: space-between;
        margin-left: 0;
    }
    .contact-info > .contact-link{
        width: 200px;
    }
    .contact-link:last-child{
        text-align: right;
    }

    .navbar {
        width: 100%;
        height: auto;
    }

    .banner {
        height: unset;
    }

    body {
        padding: 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .col-md-2 {
        width: fit-content;
    }


    .col-5 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .right-block-text {
        padding-bottom: 10px;
    }

    .fact-box {
        margin: 25px;
        padding: 8px 10px;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
    }

    .partner > img{
        width: 200px;
    }

    .footer-col {
        width: 100%;
        height: auto;
    }
    .footer-contacts{
        text-align: right;
    }
}
