.page-container{
    min-height: 80vh;
    padding: 50px 150px;
}
.page-container > img{
    height: auto !important;
}

.cart-section{
    justify-content: space-between;
}
.cart-container{
    margin: 0;
    padding: 50px 65px 100px;
    min-height: 70vh;
}
.cart-table{
    overflow: auto;
    white-space: nowrap;
}

.order-form{
    padding: 0 30px;
}

.order-form > .form_style{
    background-color: #f8f8f8;
    padding: 50px;
    border-radius: 15px;
}

.product-column-name{
    font-size: 13pt;
}

.product-table-value{
    font-size: 13pt;
}

.about-bottom{
    display: flex;
    justify-content: center;
}

.btn-about-page{
    font-size: 18pt;
    padding: 15px 25px;
    font-weight: 600;
}
.certificates{
    display: flex;
    flex-direction: column;
}

.certificates-block{
    display: flex;
    flex-wrap: wrap;
}
.certificate{
    width: 20%;
    padding: 10px;
}
.certificate > a > img{
    width: 100%;
    height: auto;
}

.certificate-info{
    display: flex;
}

.certificate-image{
    width: 500px;
}

.certificate-image>img{
    width: 500px;
}

.certificate-description{
    padding: 0 0 0 50px;
}

.certificate-description > p{
    font-size: 16pt;
    line-height: 30pt;
}

.certificate-description > .description-images{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.description-images > img{
    width: 100%;
}

.slick-slide img{
    width: 100%;
    padding: 20px;
}

.partners-logo-block{
    display: flex;
    flex-wrap: wrap;
}

.partner-logo{
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.partner-logo > img{
    border: 1px solid;
}

.partner-logo > label{
    font-size: 15pt;
    text-align: center;
}

.tabSwitcher{
    margin-bottom: 30px;
    display: flex;
}

.tabSwitcher > .btn-primary{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #c29077;
    margin-right: 10px;
    width: unset !important;
}

.tabSwitcher > .btn-primary:hover{
    background-color: #d9ac96;
}

.company-info{
    width: 50%;
    flex-direction: column;
}

section.map{
    width: 50%;
}

.contact-card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.contact-text{
    font-size: 16pt;
}

.contact-text > .position{
    color: #8e8e8e;
}

.contact-text > .name{
    font-weight: 600;
}

.contact-image > img{
    width: 100px;
    height: 100px;
}

section.requisites{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.requisites > p{
    font-size: 14pt;
}

#requisites-text{
    cursor: pointer;
}

@media screen and (max-width: 1620px) {
    .page-container{
        padding: 50px 100px;
    }
    .order-form > .form_style{
        padding: 30px;
    }
    .certificate-image>img{
        width: 400px;
    }
}
@media screen and (max-width: 991px) {
    .page-container{
        padding: 50px;
    }
    .partners-logo-block{
        justify-content: center;
    }
    .cart-section{
        flex-direction: column;
    }
    .partner-logo{
        width: 30%;
    }
    .certificate-image>img{
        width: 300px;
    }
}
@media screen and (max-width: 867px){
    .certificate-info{
        flex-direction: column;
    }
    .certificate-image{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px){
    .page-container > p > img{
        width: 100%;
        height: auto!important;
    }
    img{
        height: auto;
    }
    .cart-container{
        margin: 0 !important;
        padding: 50px 30px 100px;
    }
    .partner-logo{
        width: 50%;
    }

    .contacts{
        flex-direction: column;
    }
    .company-info{
        width: 100%;
    }
    .contact-card{
        width: 100%;
    }
    .contact-text{
        font-size: 14pt;
    }
    .contact-image > img{
        width: 80px;
        height: 80px;
    }
    section.map{
        margin-top: 30px;
        width: 100%;
    }
    .certificate{
        width: 25%;
    }
    .tabSwitcher > .btn-primary{
        padding: 5px 10px;
    }
}
@media screen and (max-width: 500px){
    .slick-slide img{
        padding: 3px;
    }
    .page-container{
        padding: 20px;
    }
    .partner-logo{
        width: 100%;
    }
    .certificate{
        width: 50%;
    }
    .certificate-description{
        padding: 0;
    }
    .certificate-description > p{
        font-size: 12pt;
        line-height: 25pt;
    }
}
