.cart-container{
    max-width: 1170px;
    margin: 50px auto;
    min-height: 70vh;
}
.cart-container > h1{
    font-size: 22pt;
}
.cart-header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.cart-header > h3{
    font-size: 14pt;
    line-height: 30px;
}
.cart-table{
    padding-right: 30px;
}
.table>:not(:first-child), .products-table > tbody{
    border-top: 1px;
}
.product-table-header > .product-column-name{
    font-size: 11pt;
    text-align: center;
}
.product-table-row > .product-table-value{
    font-size: 11pt;
    vertical-align: middle;
    text-align: center;
}
.summary-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
    background-color: #f1f1f1;
}
.summary-box > .total-prices{
    width: 300px;
}
.summary-box > .total-prices > .total-price-items{
    display: flex;
    justify-content: space-between;
}
.checkout-button{
    display: block;
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #5f707a;
    background-color: #fff;
    width: 100%;
    height: 33px;
    transition: 0.3s;
    margin-bottom: 10px;
    text-align: center;
    line-height: 33px;
    padding: 0 15px;
    cursor: pointer;
}
.checkout-button:hover {
    color: #fff;
    background-color: #1b98e0;
    border-color: #1b98e0;
}
.form-buttons{
    border: none;
}
.form-buttons > button{
    margin-top: 10px;
}